extends base

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl, controls) 
    div.video__data
        p=video.title
        p=video.description
        small=video.createdAt
        div
            small Uploaded by 
                a(href=`/users/${video.owner._id}`) #{video.owner.username} &rarr;
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                button Add Comment
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment
                    span  #{comment.text}
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")